@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Violet);
    font-family: 'Open Sans', sans-serif;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.page__head{
    margin: 4em 6em;
}

.page__section{
    display: flex;
    margin: auto 6em;
}

.page__section > div{
    margin: 1em;
}

.page__section__div-card-title{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    margin-bottom: 25px;
    margin-top: 1em;
    
}

.page__second__div-card-description{
    color: #fff;
    font-size: 20px;
}

.page__second__div-card-button{
    background-color: #fff;
    width: 11em;
    height: 3em;
    border: none;
    border-radius: 25px;
    display: block;
    margin-top: 28px;
    font-size: 1em;
    font-weight: 500;
    color: var(--Violet);
    box-shadow: 2px 2px 10px  #000;
}

.page__second__div-card-button:hover{
    cursor: pointer;
}

.page__footer {
   text-align: right;
   margin-right: 10em;
}

.page__footer > img{
    width: em;
    height: 3em;
    padding-left: 1em;
}